{% load static %}

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <title>IoT Course Project - RGB Detector</title>
</head>

<body>
<form method="post">{% csrf_token %}
<div class="form-group">
    <span>Red</span>
    <input disabled class="form-field" type="text" , value="{{ red }}">
</div>
<div class="form-group">
    <span>Green</span>
    <input disabled class="form-field" type="text" , value="{{ green }}">
</div>
<div class="form-group">
    <span>Blue</span>
    <input disabled class="form-field" type="text" , value="{{ blue }}">
</div>
<div class="form-group">
    <span>Hex Color</span>
    <input disabled type="color" , value="{{ color }}">
</div>
</form>
</body>
</html>
